@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #f26522;
  --secondary: #eeeeed;
  --background: #1c1618;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: var(--background);
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 100px;
  z-index: 9999;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 1rem;
  margin-right: 40px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--primary);
}

nav .nav-icon {
  display: flex;
}

nav .nav-icon a {
  color: var(--secondary);
  font-size: 1.25rem;
  margin-left: 40px;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 9999;
}

.hero .info {
  margin-top: 100px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .info h6 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--secondary);
}

.hero .info h1 {
  font-size: 6rem;
  font-weight: 700;
  color: var(--secondary);
}

.hero .info p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary);
  margin-bottom: 4rem;
}

.button {
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 500;
  width: 11.8125rem;
  height: 4.125rem;
  border-radius: 2.0625rem;
  border: 2px solid var(--secondary);
  background-color: transparent;
  transition: color 0.3s ease;
}

.button:hover {
  color: var(--primary);
  border-color: var(--primary);
}

.benefit {
  display: flex;
  justify-content: center;
  gap: 3.75rem;
  margin: 6.25rem;
}

.benefit .item {
  display: flex;
  align-items: center;
}

.benefit .item i {
  font-size: 3rem;
  color: var(--primary);
}

.benefit .item p {
  color: var(--secondary);
  margin-left: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
}

.about {
  padding: 6.25rem;
  display: flex;
  flex-direction: column;
}

.about .column {
  display: flex;
  justify-content: space-around;
}

.about .column .left {
  display: flex;
  flex-direction: column;
}

.about .column .left h2 {
  color: var(--primary);
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1.25rem;
  border-bottom: solid 1px;
}

.about .column .content {
  width: 33rem;
}

.about .column .left h5 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary);
  margin: 0.625rem 0;
}

.about .column .left .content p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary);
  line-height: 150%;
  margin-bottom: 2.5rem;
}

.about .column .right {
}

.about .column .right img {
  width: 38.125rem;
  height: 20.375rem;
  border-radius: 1.875rem;
}
